////////////////////////////////////////////////////////////////////////////////
// *
// * Header
// *
////////////////////////////////////////////////////////////////////////////////

.wrapper--headers {
  margin-bottom: var(--gap-lg);
  padding: var(--gap-sm) 0;
  border-bottom: rem(1) solid hsla(var(--clr-gray-light-1));
}
