////////////////////////////////////////////////////////////////////////////////
// *
// * Account menu
// *
////////////////////////////////////////////////////////////////////////////////

.menu__link--account {
  --_menu__link-padding: var(--gap-xs) 0;
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop and bigger
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {
  .menu--account {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-md);
  }
}
